.perfil span {
  display: flex;
  font-family: var(--sub);
  color: var(--red);
}

.perfil h5 {
  font-family: "Inconsolata", serif;
  font-size: 20px;
  line-height: 120%;
}

.perfil h1 {
  font-family: bold "Asap", serif;
  font-size: 56px;
  line-height: 120%;
}

p {
  font-family: "Maven Pro", serif;
  font-size: 14px;
  line-height: 140%;
}

.lang {
  font-family: "Maven Pro", serif;
  font-size: 16px;
  line-height: 140%;
}


