.header {
  height: 750px;
  display: flex; /* Ativa o flexbox */
  flex-direction: column; /* Alinha os itens na vertical */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
  padding: 50px 20px;
  background-image: url(/assets/images/Background_Intro.png);
  background-size: cover; /* Ajusta a imagem ao tamanho do header */
  background-position: center; /* Centraliza a imagem no header */
}

.avatar {
  display: flex;

  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin: 0 auto;

  border: 2px solid blue;
}

.skills span {
  width: 105px;
  height: 40px;
  margin-top: 76px;
  margin-left: 20px;
  gap: 8px;
  border-radius: 50px;
 
  display: inline-block;
  
  padding: 9px 16px 9px 9px;

  color: var(--gray-500);
  background-color: var(--gray-300);

  border: 2px solid green;
}

header h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  color: var(--gray-500);
}

header h5 span {
  color: var(--red);
}

header h1 {
  color: var(--gray-600);
}

header p {
  color: var(--gray-400);
}


