.perfil {
  display: flex;
  flex-direction: column;
  background-image: url(/assets/images/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 750px;

  margin: 0;
  padding: 0;
}

.perfil img {
  width: 120px;
  height: 120px;

  margin-top: -50px;
  margin-bottom: 56px;

  padding: 0;
}

.perfil span {
  font-family: var(--sub);
  color: var(--red);
}

.perfil h5 {
  font-family: "Inconsolata", serif;
  font-size: 20px;
  line-height: 120%;
  color: var(--gray-400);
}

.perfil h1 {
  font-family: bold "Asap", serif;

  font-size: 56px;
  line-height: 120%;
  color: var(--gray-600);

  margin-top: 8px;
  margin-bottom: 20px;
}

p {
  font-family: "Maven Pro", serif;
  font-size: 14px;
  line-height: 140%;
  color: var(--gray-400);

  margin-bottom: 80px;
}

.ele-container {
  display: flex;
  gap: 16px;
 }

 .ele-container span {
  color: var(--gray-500);
 }

.ele {
  font-family: "Maven Pro", serif;
  font-size: 16px;
  line-height: 140%;
  

  display: inline-block;


}


