.services h5 { 
  font-family: "Inconsolata", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  
  color: var(--red);
  }

  .services h3 {
    font-family: "Asap", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--gray-600);
  }